
h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Annie Use Your Telescope';
}
.time{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}
.time input{
    display: none; 
}
.time label{
    font-size: 125%;
    color:grey;
    padding: 10px;
    border: 1px solid black; 
    border-radius: 20px;

}
.time label:hover{
    color:black!important;
    background-color: grey!important;
    /*font-size: 140%!important;*/
}


.para{
    padding: 10px;
    text-align: center;
    margin-left: 7px;
    font-size: 20px;
}
.para label{
    color:   #006600;
    margin-right: 5px;
    font-size: 35px;
}

select , select option{
    font-size: 20px;
    background-color: #f2f2f2;
}

select{
    height: 40px;
    border: none;
}

.buttons{
    height: 100%;
    width: 100%;
    text-align: center;
}
.buttons button{
  margin: 10px;
  padding: 10px;
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 12px;
}
button:hover {
    background-color: #f44336;
}
#home{
    display: none;
}
.para button:hover, ul li:hover{

    color: red;
}

.errormin,.errorstory{
    display: none;
    color: red;
}

.box{
    display: none;
    text-align: center;
}
.box textarea{
    padding: 10px;
    width: 80ch;
    height: 100px;
    word-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: justify;
    overflow: -moz-scrollbars-none;
    font-size: 20px;
}
.box textarea::-webkit-scrollbar { width: 0 !important }

.words{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: none;


}
.wordcontainer{
   width: 80ch; 
   height: 100px;
   margin: 0 auto;
   margin-bottom: 20px;
   padding: 10px;
   position: relative;
   /*border: 1px solid black; */
   overflow-y: scroll;
   overflow-x: hidden;
   word-wrap: normal;
   overflow: -moz-scrollbars-none;
   font-size: 24px;
   /*text-align: justify;*/
   border: none;

}
.wordcontainer::-webkit-scrollbar { width: 0 !important }

.calculations{
    display: none;
}
.container{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.header{
    
    display: flex;
    text-align: center;
    align-items: center;
}
.timer, .errors, .accuracy, 
.cpm, .wpm { 
  height: 40px; 
  width: 70px; 
  margin: 8px; 
  padding: 12px; 
  border-radius: 12px; 
  border: 1px solid black;
 
} 
.cpm, .wpm  { 
  display: none; 
} 

.correct{
    color: green;
}
.wrong{
    color: red;
}

.focus{
    text-decoration: underline;
    background-color: green;
    color: black;
    font-size: 30px;
    padding: 5px;
}


.wordcontainer p{
    color:grey;
}

.notice{
    color: grey;
    text-align: center;
    display: none;
}

